[bumpversion]
current_version = 3.2.1
commit = False
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:ctk_tb/model/ctk_theme_builder.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:README.md]
search = releases/tag/v{current_version}
replace = releases/tag/v{new_version}
