[bumpversion]
current_version = 3.3.1
commit = False
tag = True
tag_name = v{new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:ctk_tb/model/ctk_theme_builder.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
