venv/
.idea
**/__pycache__/
*.pyc

assets/data/ctk_theme_builder.db

tmp/

*.backup

assets/etc/listener.started

assets/palettes/Wibble.json

user_themes/Wibble.json

user_themes/Scratch.json

assets/palettes/Scratch.json

complex_example.py

assets/palettes/

simple_example.py
