venv/
.idea
**/__pycache__/
*.pyc

assets/data/ctk_theme_builder.db

tmp/

*.backup

assets/etc/listener.started

assets/palettes/Wibble.json

user_themes/Wibble.json

user_themes/Scratch.json

assets/palettes/Scratch.json

complex_example.py

assets/palettes/

simple_example.py

assets/data/ctk_theme_builder-2.2.0.db

ctk_theme_builder

assets/etc/qa_application.stop

user_themes/Demo.json

user_themes/Demo3.json

user_themes/Demo2.json

gridedit.py

docs/Windows.png

docs/Screenshot from 2023-07-18 09-23-18.png

assets/images/CTkThemeBuilder.png

assets/etc/qa_application.started

user_themes/Test.json

lib/CTkToolTip-main.zip

log/ctk_tb.log

*.db

theme_builder_setup.tar
