bump2version==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
cairocffi==1.7.1 ; python_version >= "3.10" and python_version < "3.14"
cairosvg==2.9.0 ; python_version >= "3.10" and python_version < "3.14"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
colorharmonies==1.0.5 ; python_version >= "3.10" and python_version < "3.14"
colour==0.1.5 ; python_version >= "3.10" and python_version < "3.14"
contourpy==1.3.2 ; python_version >= "3.10" and python_version < "3.14"
cssselect2==0.9.0 ; python_version >= "3.10" and python_version < "3.14"
ctkfontawesome==0.6.0 ; python_version >= "3.10" and python_version < "3.14"
ctkmessagebox==2.5 ; python_version >= "3.10" and python_version < "3.14"
ctktooltip==0.9 ; python_version >= "3.10" and python_version < "3.14"
customtkinter==5.2.2 ; python_version >= "3.10" and python_version < "3.14"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.14"
darkdetect==0.8.0 ; python_version >= "3.10" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.14"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.14"
fonttools==4.59.0 ; python_version >= "3.10" and python_version < "3.14"
importlib-resources==6.1.1 ; python_version >= "3.10" and python_version < "3.14"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.14"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.14"
matplotlib==3.10.5 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "3.14"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.14"
pathvalidate==3.2.0 ; python_version >= "3.10" and python_version < "3.14"
pillow==11.3.0 ; python_version >= "3.10" and python_version < "3.14"
pycparser==3.0 ; python_version >= "3.10" and python_version < "3.14" and implementation_name != "PyPy"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.14"
pyperclip==1.8.2 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.14"
scikit-build==0.17.6 ; python_version >= "3.10" and python_version < "3.14"
setuptools==82.0.1 ; python_version >= "3.10" and python_version < "3.14"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.14"
tinycss2==1.5.1 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.14"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
wheel==0.45.1 ; python_version >= "3.10" and python_version < "3.14"
win32-setctime==1.2.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
zipp==3.15.0 ; python_version >= "3.10" and python_version < "3.14"
